<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.os.dst.dao.SpringTestDao">

    <select id="queryspringTestVOList" resultType="top.os.dst.domain.SpringTestVO">
        SELECT * FROM spring_test
    </select>

    <insert id="insert">
        INSERT INTO spring_test (num) VALUES (#{num})
    </insert>
</mapper>